<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.aaa.dao.OrderMapper">


    <resultMap id="orderMap" type="OrderUser">
        <id column="id" property="id"></id>
        <result column="ordertime" property="ordertime"></result>
        <result column="total" property="money"></result>
        <!--
        一对一（多对一）使用association标签关联
        property="user" 封装实体的属性名
        javaType="user" 封装实体的属性类型
        -->
        <association property="user" javaType="User">
            <id column="uid" property="id"></id>
            <result column="username" property="username"></result>
            <result column="birthday" property="birthday"></result>
            <result column="sex" property="sex"></result>
            <result column="address" property="address"></result>
        </association>

    </resultMap>
    <select id="findAllWithUser" resultMap="orderMap">
        SELECT *
        FROM orders o
                 LEFT JOIN USER u ON o.uid = u.id
    </select>

    <resultMap id="orderMap1" type="orderUser">
        <id column="id" property="id"></id>
        <result column="ordertime" property="ordertime"></result>
        <result column="money" property="money"></result>
        <!--根据订单中uid外键，查询用户表-->
        <association property="user" javaType="user" column="uid"
                     select="org.aaa.dao.OrderMapper.findById"></association>
    </resultMap>
    <select id="findAllWithUser1" resultMap="orderMap1" >
        SELECT * FROM orders
    </select>
    <select id="findById" parameterType="int" resultType="User">
                SELECT *
                FROM user
                where id = #{uid}
    </select>
</mapper>